h1 {
    text-align: center ;
    font-size: 2em;
    /*padding-bottom: 5px;*/
}

nav {
    font-size: 20px;
    text-align: center;
}

nav ul {
    border-top: dotted grey 2px;
    border-bottom: dotted grey 2px;
    padding: 10px;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    max-width: 800px;
    margin: auto;
}

nav li a {
    text-align: center;
    text-decoration: none;
    color: Darkgray;
}

/* Change the link color to #111 (black) on hover */
nav a:hover {
    background-color: grey;
    border-radius: 5px;
}

body{
    margin:1em auto;
    max-width:40em;
    padding:0 .62em;
    font:1.2em/1.62 sans-serif;
    line-height:1.6;
    color:#444;
    background: #EEEEEE
}

h2,h3{
    text-align: center ;
    line-height:1.2
}

a:link {color:#9cf}
a:hover, a:visited:hover {color:#cef}
a:visited {color:#c9f}

@media print{
    body{
	max-width:none
    }
}

article {
    text-align: justify;
    text-justify: inter-word;
}

img {
    max-width: 90% ;
    margin: auto ;
    display: block ;
}

footer {
    text-align: center ;
    padding: 2em 0 ;
}
